<div id="summary">
<h1><%= link_to(enki_config[:title], '/') %></h1>
<p class="stats"><%= pluralize(@stats.post_count, 'post') %>, <%= pluralize(@stats.tag_count, 'tag') %></p>
</div>

<div id="recent-posts" class="panel">
<h2>Latest Posts</h2>
<ul>
  <% @posts.each_with_index do |post, i| -%>
    <li class="<%= i == 0 ? 'first ' : '' %>item">
      <h3><%= link_to(truncate(post.title, :length => 50), admin_post_path(post)) %></h3>
      <span class='date'><%= post.published_at.strftime("%b %e") %></span>
    </li>
  <% end -%>
</ul>
</div>

