- content_for :page_title do
  = post_title @post

= render :partial => 'posts/post', :locals => {:post => @post, :mini => false}

/ START: Livefyre Embed
#livefyre-comments
%script{:src => "http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js", :type => "text/javascript"}
:javascript
  (function () {
      var articleId = fyre.conv.load.makeArticleId(null);
      fyre.conv.load({}, [{
          el: 'livefyre-comments',
          network: "livefyre.com",
          siteId: "325456",
          articleId: articleId,
          signed: false,
          collectionMeta: {
              articleId: articleId,
              url: fyre.conv.load.makeCollectionUrl(),
          }
      }], function() {});
  }());
/ END: Livefyre Embed

-#%ol.commentlist
-#  - @post.approved_comments.each do |comment|
-#    <li#{raw cycle(' class="alt"', '')} id="comment-#{comment.id}">
-#    \#{render comment}

-#%h2 Post a comment
-#- unless @comment.errors.empty?
-#  .errors
-#    %h3 Comment not added!
-#    %ul
-#      - @comment.errors.sort_by(&:first).each do |error|
-#        %li= format_comment_error(error)
-#
-#= form_for([@post, @comment]) do |form|
-#  %div
-#    %p
-#      = form.text_field 'author'
-#      %label{:for => "comment_author"}
-#        %small
-#          Name or
-#          %a{:href => "http://openidexplained.com/"} OpenID
-#          (required)
-#    %p
-#      = form.text_area 'body'
-#      %br/
-#      %small
-#        (Comments support a subset of
-#        = succeed ")" do
-#          %a{:href => "http://github.github.com/github-flavored-markdown/"} Markdown formatting
-#    %p= submit_tag "Add Comment"