!!!
%html{:dir => "ltr", :lang => "en-US"}
  %head
    %meta{:charset => "utf-8"}
      %title= html_title yield(:page_title)
      %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
      %link{:rel => "icon", :type => "image/png", :href => image_path('favicon.png')}

      = csrf_meta_tag
      = stylesheet_link_tag 'application'
      = javascript_include_tag 'application'
      = open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation]
      = analytics_init if Rails.env.production?
      -#%link{:href => "http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700", :rel => "stylesheet", :type => "text/css"}
      = yield(:head)

  %body
    #header-container
      .spinner-container
      .container
        .sixteen.columns
          %h1#logo
            = link_to "sumitngupta", root_path


      #header
        .container
          .sixteen.columns

    - flash.each do |key, msg|
      .container{:class => key}
        .sixteen.columns
          %p= msg

    .container
      .sixteen.columns
        = yield
